videos/
/scripts/frames
/scripts/jsons
scripts/__pycache__/gf.cpython-310.pyc
/scripts/__pycache__
scripts/testVideo.mp4
/scripts/jsons
/scripts/frames
*.jpg
scripts/frames/frame_0000.jpg

hakatonfront/*.iml
hakatonfront/.gradle
hakatonfront//local.properties
hakatonfront/.idea/caches
hakatonfront/.idea/libraries
hakatonfront/.idea/modules.xml
hakatonfront/.idea/workspace.xml
hakatonfront/.idea/navEditor.xml
hakatonfront/.idea/assetWizardSettings.xml
hakatonfront/.DS_Store
hakatonfront/build
hakatonfront/captures
hakatonfront/.externalNativeBuild
hakatonfront/.cxx
hakatonfront/local.properties
hakatonfront/app/src/main/res/raw/testvideo.mp4